.find{
    .main{
        width:100%;
        .header{
            width:100%;
            height:3.125rem;
            text-align:center;
            line-height:3.125rem;
            position: fixed;
            top:0;
            left:0;
            z-index:33;
            padding:0 .9375rem;
            font-size:1.125rem;
            font-weight:500;
            background:#fff;
            .icon-kefu1{
                float:right;
                font-size: 1.5rem;
            }
        }
        .ant-carousel {
            width:100%;
            background:#fff;
            margin-top:3.125rem;
            padding:0 1.25rem;
            .slick-slide img{
                width:100%;
            }
            .slick-dots{
                bottom:.375rem;
                .slick-active{
                    button{
                        background: #e9ab5e;
                    }
                }
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom:.625rem;
            padding:.625rem 0;
            img{
                margin-bottom:.5rem;
            }
        }
        .mainMenu{
            background:#fff;
            li{
                img{
                    width: 3.75rem;
                    height:3.75rem;
                }
            }
        }
        .business{
            background:#fff;
            li{
                width: 33%;
                font-size:.8125rem;
                margin:.8125rem 0;
                img{
                    width: 2.5rem;
                    height:2.5rem;
                }
            }
        }
        p{
            width:100%;
            text-align:center;
            font-size:.8125rem;
            line-height: 1.875rem;
            margin-bottom:.375rem;
            color:#999;
        }
    }
}