.category{
    .headerBar{
        background:#fff;
        ul{
            .myHome{
                display: none;
            }
            .myCategory,.iconfont{
                color:#999;
            }
            .myCategory{
                font-size:14px;
            }
        }
    }
    .main{
        display: flex;
        margin-top:55px;
        .categoryTab{
            width:100px;
            position: fixed;
            top:55px;
            left:0;
            h2{
                border-top:2px solid #e9ab5e;
                line-height:38px;
            }
            h2,li{
                height:40px;
                line-height:40px;
                padding-left:15px;
                font-size:14px;
            }
            .activeTab{
                background:#fff;
            }
        }
        .categoryCon{
            flex:1;
            height:100%;
            display: flex;
            flex-direction: column;
            background:#fff;
            margin-left:100px;
            .special{
                width:100%;
                ul{
                    width:100%;
                    display: flex;
                    // justify-content: space-around;
                    // padding:10px;
                    flex-wrap: wrap;
                    li{
                        width:33%;
                        float:left;
                        margin:10px 0 5px 0;
                        // margin:10px;
                        font-size:12px;
                        img{
                            width:60%;
                        }
                    }
                }
            }
            .blankBar{
                width: 100%;
                border:4px solid #f7f7f7;
            }
            .brands{
                width:100%;
                ul{
                    width:100%;
                    li{
                        width:33%;
                        float:left;
                        margin:10px 0 5px 0;
                        font-size:12px;
                        img{
                            width:40px;
                            height:40px;
                        }
                    }
                }
            }
            .place,.price{
                background:#fff;
                // h2{
                //     width:100%;
                //     height:40px;
                //     padding:0 15px;
                //     line-height:38px;
                //     font-size: 13px;
                //     border-bottom:2px solid #f7f7f7; 
                // }
                ul{
                    width:100%;
                    li{
                        width:33%;
                        float:left;
                        padding:5px 0;
                        font-size:12px;
                        text-align: center;
                    }
                }
            }
            .disappear{
                display: none;
            }
        }
    }
}