.cart{
    .main{
        width:100%;
        .header{
            width:100%;
            height:3.125rem;
            text-align:center;
            line-height:3.125rem;
            position: fixed;
            top:0;
            left:0;
            z-index:33;
            padding:0 .9375rem;
            font-size:1.125rem;
            font-weight:500;
            background:#fff;
        }
        .cartList{
            margin-top:3.5rem;
            .cartItem{
                background: #fff;
                margin-bottom:.375rem;
            }
            .cartBrand{
                display: flex;
                height:2.5rem;
                justify-content: space-between;
                align-items: center;
                padding:0 .625rem;
                .iconBar{
                    border:0 none;
                    p{color:#333;}
                    img{
                        width: 1.875rem;
                        height:1.875rem;
                    }
                }
            }
            .cartDetail{
                li{
                    display: flex;
                    align-items: center;
                    padding:.9375rem .625rem;
                    border-top:.125rem solid #f7f7f7;
                    img{
                        display: block;
                        border:.0625rem solid #ccc;
                        width:4.6875rem;
                        height:4.6875rem;
                        margin:0 .9375rem;
                    }
                    >div{
                        color:#333;
                        line-height: 1.5rem;
                        font-size:.875rem;
                        input{
                            height:1.5625rem;
                            width:1.875rem;
                            text-align:center;
                            background:#fff;
                            font-size:1rem;
                            border:.0625rem solid #ccc;
                        }
                        .num{
                            width: 3.125rem;
                        }
                        .price{
                            color:#e9ab5e;
                            font-size: .875rem;
                            font-weight:500;
                        }
                    }
                }
            }
        }
    }
    .cartFooter{
        background: #fff;
        width:100%;
        padding-left:1.25rem;
        >div{
            width:100%;
            height:3.125rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .875rem;
            color:#333;
            label{
                width:20%;
                input{
                    margin-right:.3125rem;
                }
            }
            p{
                flex: 1;
                span{
                    color:#e9ab5e;
                    font-weight: 500;
                }
            }
            button{
                width:35%;
                height: 100%;
                font-size:1rem;
                display: block;
                justify-content: center;
                align-items: center;
                color:#fff;
                background: #e9ab5e;
            }
        }
        .disappear{
            display: none;
        }
    }
}