.ant-drawer-content{
    .ant-drawer-wrapper-body{
        background:#f8f8f8;
        .ant-drawer-body{
            padding:0;
            .title{
                height: 2.8125rem;
                padding:0 .9375rem;
                background:#fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: .75rem;
                margin-bottom:.5rem;
                strong{
                    font-size: .875rem;
                }
            }
            .detail{
                background:#fff;
                h2{
                    height:2.5rem;
                    padding:0 .9375rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: .75rem;
                    border-bottom:.0625rem solid #f8f8f8;
                    .iconfont{
                        font-size:.75rem;
                        color:#ccc;
                    }
                }
            }
        }
    }
}